<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= blog.title %></title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/png" href="http://www.pngmart.com/files/2/Mario-Transparent-Background.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="http://www.pngmart.com/files/2/Mario-Transparent-Background.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Library System" />
    <link rel="apple-touch-icon-precomposed" href="http://www.pngmart.com/files/2/Mario-Transparent-Background.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="http://www.pngmart.com/files/2/Mario-Transparent-Background.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- common style -->
    <link rel="stylesheet" href="/css/semantic.min.css">
    <!-- <link rel="stylesheet" href="/css/amazeui.min.css"> -->
    <link rel="stylesheet" href="/css/common.css">
    <!-- default script -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <!-- <script src="/js/amazeui.min.js"></script> -->
</head>

<body>
    <%- include('./nav-setting') %>
    <%- include('./nav') %>
    <%- include('./notification') %>